.dynamicContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 78vh;
  width: 99.9%;
  padding-top: 1%;
  background-color: #dac5e9;
  box-sizing: border-box;
}
.dynamicContainer .parentContainer {
  display: flex;
  flex-direction: row;
  width: 100%;
  overflow-x: hidden;
  justify-content: space-evenly;
}
.dynamicContainer .parentContainer .listArea {
  display: flex;
  flex-direction: column;
  height: 70vh;
  width: 22%;
  margin: 0%;
}
.dynamicContainer .parentContainer .listArea .optionsArea {
  overflow-y: scroll;
  height: 93%;
  margin: 5%;
}
.dynamicContainer .parentContainer .listArea .optionsArea .componentItems {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 5% 0%;
  margin: 4% 0%;
  width: 100%;
  background-color: white;
  height: 6vh;
  align-items: center;
}
.dynamicContainer .viewEdit {
  height: 73vh;
  width: 70%;
}
.dynamicContainer .viewEdit .viewArea {
  background-color: rgba(95, 15, 153, 0.473);
  height: 88%;
  width: 100%;
  margin: 3% 0%;
  padding-top: 1%;
  overflow-x: hidden;
}
.dynamicContainer .viewEdit .viewArea .textFieldHolder {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.dynamicContainer .viewEdit .viewArea .textFieldHolder input[type=text] {
  height: 5vh;
}
.dynamicContainer .viewEdit .viewArea .textFieldHolder .viewAreaInputs {
  margin: 1% 0%;
}
.dynamicContainer .viewEdit .viewArea .textFieldHolder .inputArea {
  display: flex;
  margin: 1% 0%;
}
.dynamicContainer .viewEdit .viewArea .textFieldHolder .inputArea .requiredFields {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.dynamicContainer .viewEdit .viewArea .textFieldHolder .inputArea .requiredInput {
  display: flex;
  align-items: center;
  margin: 0% 27%;
}
.dynamicContainer .viewEdit .viewArea .textFieldHolder .inputArea button {
  background: none;
  border: none;
}
.dynamicContainer .viewEdit .viewArea .textFieldHolder .optionComponent, .dynamicContainer .viewEdit .viewArea .textFieldHolder .imageUpload {
  display: flex;
  flex-direction: column;
}
.dynamicContainer .viewEdit .viewArea .textFieldHolder .optionComponent .addOptions, .dynamicContainer .viewEdit .viewArea .textFieldHolder .imageUpload .addOptions {
  margin: 2% 0%;
  width: 50%;
  font-size: medium;
  font-weight: bold;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  background: #6900b3;
}
.dynamicContainer .viewEdit .viewArea .textFieldHolder .optionComponent .displayOptions, .dynamicContainer .viewEdit .viewArea .textFieldHolder .imageUpload .displayOptions {
  display: flex;
  margin: 2% 0%;
  align-items: center;
}
.dynamicContainer .viewEdit .viewArea .textFieldHolder .optionComponent .displayOptions button, .dynamicContainer .viewEdit .viewArea .textFieldHolder .imageUpload .displayOptions button {
  background: none;
  border: none;
  align-items: flex-end;
  color: rgba(97, 8, 160, 0.945);
  font-size: medium;
}
.dynamicContainer .viewEdit .viewArea .textFieldHolder .optionComponent .displayOptions input[type=text], .dynamicContainer .viewEdit .viewArea .textFieldHolder .imageUpload .displayOptions input[type=text] {
  height: 3vh;
}

.mobileViews {
  height: 60vh;
  width: 25%;
}
.mobileViews .mobileDisplay {
  overflow-x: hidden;
  margin: 5% 15%;
  height: 90%;
  border: 8px black solid;
  border-radius: 8%;
  background-color: white;
}
.mobileViews .mobileDisplay .displayArea {
  margin-top: 10%;
  display: flex;
  flex-direction: column;
}
.mobileViews .mobileDisplay .displayArea input {
  height: 30%;
}
.mobileViews .mobileDisplay .displayArea textarea {
  height: 9vh;
  resize: none;
}
.mobileViews .mobileDisplay .displayArea .mobileInputs {
  display: flex;
  flex-direction: column;
  margin: 5%;
}
.mobileViews .mobileDisplay .displayArea .mobileInputs .lablePreview {
  margin: 0% 0% 2% 0%;
  align-self: flex-start;
}
.mobileViews .mobileDisplay .displayArea .optionalValue {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.mobileViews .mobileDisplay .displayArea audio {
  width: auto;
}
.mobileViews .mobileDisplay .displayArea .requiredField {
  color: red;
  padding-left: 1%;
}
.mobileViews .mobileDisplay .displayArea .fieldValues {
  display: flex;
  align-items: center;
}

::-webkit-scrollbar {
  display: none;
}/*# sourceMappingURL=dynamicFormGenerator.css.map */